.calendar-list {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    flex-wrap: wrap;
    padding: .1rem;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 17.5%;
}