.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}


.input-field {
    width: 50%;
    padding: 1rem;
}

.input-field label {
    margin-right: .5rem;
    margin-bottom: .75rem;
    display: block;
    font-weight: bold;
    width: 11rem;
}

.input-field input {
    margin-right: .5rem;
    padding: .25rem;
    border-radius: .4rem;
    border: 1px solid white;
    width: 90%;
}

.input-field input:focus {
    outline: 1px solid black;
}

.submission button {
    margin-top: 1.5rem;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 1.5em;
    font-size: medium;
    font-weight: 800;
    color: black;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    border: none;
}

.submission button:hover {
    background-color: rgb(197, 255, 236);
    cursor: pointer;
}

.form p {
    color: red;
    font-size: .75rem;
    height: .1px;
    margin-left: 1rem;
}